
.DS_Store
CE263N_Final_Project_MinhoKim_KeatsHua.ipynb
datasets/.DS_Store
datasets/dem_aoi00_reproj.tif
datasets/dem_aoi01_reproj.tif
datasets/dem_aoi04_reproj.tif
datasets/dem_aoi05_reproj.tif
datasets/dem_aoi08_reproj.tif
datasets/dem_aoi09_reproj.tif
datasets/dem_aoi10_reproj.tif
datasets/dem_aoi11_reproj.tif
datasets/dem_aoi16_reproj.tif
datasets/dem_aoi19_reproj.tif
datasets/dem_aoi20_reproj.tif
datasets/dem_aoi22_reproj.tif
datasets/dem_aoi23_reproj.tif
datasets/dem_aoi24_reproj.tif
datasets/dem_aoi25_reproj.tif
datasets/dem_aoi26_reproj.tif
datasets/dem_aoi27_reproj.tif
datasets/dem_aoi28_reproj.tif
datasets/dem_aoi29_reproj.tif
datasets/dem_aoi30_reproj.tif
datasets/dem_aoi31_reproj.tif
datasets/dem_aoi32_reproj.tif
datasets/dem_aoi33_reproj.tif
datasets/dem_aoi34_reproj.tif
datasets/dem_aoi35_reproj.tif
datasets/dem_aoi36_reproj.tif
datasets/dem_aoi37_reproj.tif
datasets/dem_aoi39_reproj.tif
datasets/dem_aoi41_reproj.tif
datasets/dem_aoi42_reproj.tif
datasets/dem_aoi43_reproj.tif
datasets/dem_aoi44_reproj.tif
datasets/dem_aoi45_reproj.tif
datasets/dem_aoi46_reproj.tif
datasets/dem_aoi48_reproj.tif
datasets/dem_aoi49_reproj.tif
datasets/dem_aoi50_reproj.tif
datasets/fire00_reproj.tif
datasets/fire01_reproj.tif
datasets/fire04_reproj.tif
datasets/fire05_reproj.tif
datasets/fire08_reproj.tif
datasets/fire09_reproj.tif
datasets/fire10_reproj.tif
datasets/fire11_reproj.tif
datasets/fire16_reproj.tif
datasets/fire19_reproj.tif
datasets/fire20_reproj.tif
datasets/fire22_reproj.tif
datasets/fire23_reproj.tif
datasets/fire24_reproj.tif
datasets/fire25_reproj.tif
datasets/fire26_reproj.tif
datasets/fire27_reproj.tif
datasets/fire28_reproj.tif
datasets/fire29_reproj.tif
datasets/fire30_reproj.tif
datasets/fire31_reproj.tif
datasets/fire32_reproj.tif
datasets/fire33_reproj.tif
datasets/fire34_reproj.tif
datasets/fire35_reproj.tif
datasets/fire36_reproj.tif
datasets/fire37_reproj.tif
datasets/fire39_reproj.tif
datasets/fire41_reproj.tif
datasets/fire42_reproj.tif
datasets/fire43_reproj.tif
datasets/fire44_reproj.tif
datasets/fire45_reproj.tif
datasets/fire46_reproj.tif
datasets/fire48_reproj.tif
datasets/fire49_reproj.tif
datasets/fire50_reproj.tif
datasets/lulc_aoi00_reproj.tif
datasets/lulc_aoi01_reproj.tif
datasets/lulc_aoi04_reproj.tif
datasets/lulc_aoi05_reproj.tif
datasets/lulc_aoi08_reproj.tif
datasets/lulc_aoi09_reproj.tif
datasets/lulc_aoi10_reproj.tif
datasets/lulc_aoi11_reproj.tif
datasets/lulc_aoi16_reproj.tif
datasets/lulc_aoi19_reproj.tif
datasets/lulc_aoi20_reproj.tif
datasets/lulc_aoi22_reproj.tif
datasets/lulc_aoi23_reproj.tif
datasets/lulc_aoi24_reproj.tif
datasets/lulc_aoi25_reproj.tif
datasets/lulc_aoi26_reproj.tif
datasets/lulc_aoi27_reproj.tif
datasets/lulc_aoi28_reproj.tif
datasets/lulc_aoi29_reproj.tif
datasets/lulc_aoi30_reproj.tif
datasets/lulc_aoi31_reproj.tif
datasets/lulc_aoi32_reproj.tif
datasets/lulc_aoi33_reproj.tif
datasets/lulc_aoi34_reproj.tif
datasets/lulc_aoi35_reproj.tif
datasets/lulc_aoi36_reproj.tif
datasets/lulc_aoi37_reproj.tif
datasets/lulc_aoi39_reproj.tif
datasets/lulc_aoi41_reproj.tif
datasets/lulc_aoi42_reproj.tif
datasets/lulc_aoi43_reproj.tif
datasets/lulc_aoi44_reproj.tif
datasets/lulc_aoi45_reproj.tif
datasets/lulc_aoi46_reproj.tif
datasets/lulc_aoi48_reproj.tif
datasets/lulc_aoi49_reproj.tif
datasets/lulc_aoi50_reproj.tif
datasets/s2_aoi_ll00.tif
datasets/s2_aoi_ll01.tif
datasets/s2_aoi_ll04.tif
datasets/s2_aoi_ll05.tif
datasets/s2_aoi_ll08.tif
datasets/s2_aoi_ll09.tif
datasets/s2_aoi_ll10.tif
datasets/s2_aoi_ll11.tif
datasets/s2_aoi_ll16.tif
datasets/s2_aoi_ll19.tif
datasets/s2_aoi_ll20.tif
datasets/s2_aoi_ll22.tif
datasets/s2_aoi_ll23.tif
datasets/s2_aoi_ll24.tif
datasets/s2_aoi_ll25.tif
datasets/s2_aoi_ll26.tif
datasets/s2_aoi_ll27.tif
datasets/s2_aoi_ll28.tif
datasets/s2_aoi_ll29.tif
datasets/s2_aoi_ll30.tif
datasets/s2_aoi_ll31.tif
datasets/s2_aoi_ll32.tif
datasets/s2_aoi_ll33.tif
datasets/s2_aoi_ll34.tif
datasets/s2_aoi_ll35.tif
datasets/s2_aoi_ll36.tif
datasets/s2_aoi_ll37.tif
datasets/s2_aoi_ll39.tif
datasets/s2_aoi_ll41.tif
datasets/s2_aoi_ll42.tif
datasets/s2_aoi_ll43.tif
datasets/s2_aoi_ll44.tif
datasets/s2_aoi_ll45.tif
datasets/s2_aoi_ll46.tif
datasets/s2_aoi_ll48.tif
datasets/s2_aoi_ll49.tif
datasets/s2_aoi_ll50.tif
datasets/slope_aoi00_reproj.tif
datasets/slope_aoi01_reproj.tif
datasets/slope_aoi04_reproj.tif
datasets/slope_aoi05_reproj.tif
datasets/slope_aoi08_reproj.tif
datasets/slope_aoi09_reproj.tif
datasets/slope_aoi10_reproj.tif
datasets/slope_aoi11_reproj.tif
datasets/slope_aoi16_reproj.tif
datasets/slope_aoi19_reproj.tif
datasets/slope_aoi20_reproj.tif
datasets/slope_aoi22_reproj.tif
datasets/slope_aoi23_reproj.tif
datasets/slope_aoi24_reproj.tif
datasets/slope_aoi25_reproj.tif
datasets/slope_aoi26_reproj.tif
datasets/slope_aoi27_reproj.tif
datasets/slope_aoi28_reproj.tif
datasets/slope_aoi29_reproj.tif
datasets/slope_aoi30_reproj.tif
datasets/slope_aoi31_reproj.tif
datasets/slope_aoi32_reproj.tif
datasets/slope_aoi33_reproj.tif
datasets/slope_aoi34_reproj.tif
datasets/slope_aoi35_reproj.tif
datasets/slope_aoi36_reproj.tif
datasets/slope_aoi37_reproj.tif
datasets/slope_aoi39_reproj.tif
datasets/slope_aoi41_reproj.tif
datasets/slope_aoi42_reproj.tif
datasets/slope_aoi43_reproj.tif
datasets/slope_aoi44_reproj.tif
datasets/slope_aoi45_reproj.tif
datasets/slope_aoi46_reproj.tif
datasets/slope_aoi48_reproj.tif
datasets/slope_aoi49_reproj.tif
datasets/slope_aoi50_reproj.tif
notebooks/__pycache__/sampling.cpython-39.pyc
notebooks/__pycache__/utils.cpython-39.pyc
notebooks/CE263N_Final_Project_MinhoKim_KeatsHua.ipynb
notebooks/method0.ipynb
CE263N_Final_Project_MinhoKim_KeatsHua.ipynb
